::selection {
  background-color: transparent;
}
input {
  outline: none;
}
#introCon {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url(../../public/Files/Images/1.jpg) center/cover;
  animation: 2s animateCon;
}
#introCon2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
    url(../../public/Files/Images/1.jpg) center/cover;
}
#startGame a {
  -webkit-text-stroke: 4px rgba(255, 255, 255, 0.6);
  letter-spacing: 5px;
  display: block;
  text-shadow: 0px 10px 20px pink;
  outline: none;
}
#startGame a:hover {
  rotate: -3deg;
  padding: 5px;
}
#startGame a:hover::before {
  content: "<";
}
#startGame a:hover::after {
  content: ">";
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.rotate {
  transform: rotateY(-180deg);
}
.valid {
  background-color: #59e391;
  color: white;
  box-shadow: 0 25px 50px -12px #59e391;
}
.invalid {
  background-color: #e35959;
  color: white;
  box-shadow: 0 25px 50px -12px #e35959;
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

/* Style the back side */
.flip-card-back {
  /* background-color: dodgerblue;
  color: white; */
  transform: rotateY(180deg);
}

/* Style for helper card */
.helper {
  outline: 2px solid green;
  /* animation: animateHelper 2s infinite linear; */
}
@keyframes animateCon {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@keyframes flipUnderlay {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
